@(customerForm: Form[(String,String)])

@import helper._

@main(title = "Customer Registration") {
    
    <center>
    <h1>Register</h1>
   
    @form(action = routes.CustomerController.createCustomer) {

        @inputText(field = customerForm("name"), args = 'placeholder -> "Your name")
      
        @inputText(field = customerForm("surname"), args = 'placeholder -> "Your name")
 
        

        <p class="buttons">
            <input type="submit" id="submit" value="Register">
        <p>
    }
    </center>
}